{% extends "base_generic.html" %}

{% block title %}
<title>Editar un Nuevo Evento</title>
{% endblock %}
{% block sidebar %}
<li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
{% endblock %}
{% block content %}
<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h2>Editar el evento:</h2>
        <h1 class="mx-auto my-0 text-uppercase">{{event.title}}</h1>
      </div>
    </div>
  </div>
</header>
<section class="contact-section bg-black text-white" id="about">
  <div class="container px-4 px-lg-5 ">
    <h2 class="text-white text-uppercase">Edit an Event</h2>
    {% if form.errors %}
    <h2 class="text-white mb-5">
      <p>Error in your form</p>
    </h2>
    {% endif %}

    <form id="post_form" method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% for hidden in event_form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      <table>
        {{ form }}
      </table>
      <button class="w3-btn w3-blue w3-round" type="button" onclick="getLocation()">Get Location</button>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
</section>
{% endblock %}

{% block javascript %}
<script>
  const x = document.getElementById("demo");
  const loc_x = document.getElementById("id_loc_x");
  const loc_y = document.getElementById("id_loc_y");
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    loc_x.value = position.coords.latitude;
    loc_y.value = position.coords.longitude;
  }
</script>
{% endblock %}