{% extends "base_generic.html" %}
{% block title %}
<title>Project Detail</title>
{% endblock %}
{% block sidebar %}
<li class="nav-item"><a class="nav-link" href="#inicio">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href="#mapa">Mapa</a></li>
<li class="nav-item"><a class="nav-link" href="#actividades">Actividades</a></li>
<li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
{% endblock %}
{% block content %}
<!-- Project Introduction -->
<section class="about-section text-center" id="inicio" style="background:linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%),  url({{ project.head_image.url }});background-size: 100% auto; background-repeat: no-repeat;">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-white mx-auto my-0 text-uppercase">{{project.name}} {{project.abr}}</h1>
                <h3 class="text-white-50 mx-auto mt-2 mb-5">{{project.state}}</h3>                {% load humanize %}

                <h3 class="text-white text-opacity-75 mx-auto mt-2 mb-5">{{project.hectares|intcomma}} hectárea{{project.hectares|pluralize}} protegidas</h3>
                <p class="text-white">
                    {{project.description}}
                </p>
            </div>
            <!-- <img class="img-fluid" src="{{ project.head_image.url }}" alt="..." /> -->
        </div>
    </div>
</section>
<!-- Mapa -->
<section class="projects-section" id = "mapa">
    <h1 class=" mx-auto text-uppercase text-center">Mapa interactivo</h1>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">   
            <center>
                <svg height = "400" width = "640" id="myplot"></svg> 
            </center>            
            <div id="trot"></div> 
            {% load static %}
            
            <script  type="module">

                const us = await d3.json("{% static 'assets/us-counties-10m.json' %}");
                const counties_raw = topojson.feature(us, us.objects.counties);
                const rate = await d3.csv("{% static 'assets/us-county-unemployment.csv' %}");
                const map = new Map(rate.map((d) => [d.id, +d.rate]));
                counties_raw.features.forEach((g) => {
                    g.properties.unemployment = map.get(g.id);
                }); 
                const plot = Plot.plot({
                    projection: "albers-usa",
                    color: {
                        type: "quantile",
                        n: 9,
                        label: "Unemployment (%)",
                        scheme: "blues"
                    },
                    marks: [
                        Plot.geo(counties_raw, {
                            fill: "unemployment",
                            title: (d) => `${d.properties.name} ${d.properties.unemployment}%`,
                            tip: true
                        })
                    ]
                });
                const div = document.querySelector("#myplot");
                div.append(plot);
            </script>
            
            </div>
        </div>
    </div>
</section>
 <!-- List de Eventos -->
<section class="contact-section bg-black" id = "actividades">
    <div class="container px-4 px-lg-5">
      <h1 class="text-white mx-auto text-uppercase text-center">Actividades y Eventos</h1>
        <div class="row gx-4 gx-lg-5">
            {% for mapevent in project.mapevent_set.all %}
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <h4 class="text-uppercase m-0"><a href="{{ mapevent.get_absolute_url }}">{{mapevent.title}}</a></h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">{{mapevent.description}}</div>
                        <hr class="my-4 mx-auto" />
                        {% if mapevent.mapeventimage_set.first.file.url %}
                        <img class="img-fluid sub" src="{{ mapevent.mapeventimage_set.first.file.url }}" alt="..." />
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
