{% extends "base_generic.html" %}
{% load unicorn %}
{% block title %}
<title>Project Detail</title>
{% endblock %}
{% block sidebar %}
<li class="nav-item"><a class="nav-link" href="#inicio">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href="#mapa">Mapa</a></li>
<li class="nav-item"><a class="nav-link" href="#actividades">Actividades</a></li>
{% if user.is_authenticated %}
<li class="nav-item"><a class="nav-link" href="#addevent">Agregar Evento</a></li>
{% endif %}
<li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
{% endblock %}
{% block content %}
<!-- Project Introduction -->
<section class="about-section text-center" id="inicio"
    style="background:linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%),  url({{ project.head_image.url }});background-size: 100% auto; background-repeat: no-repeat;">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-white mx-auto my-0 text-uppercase">{{project.name}} {{project.abr}}</h1>
                <h3 class="text-white-50 mx-auto mt-2 mb-5">{{project.state}}</h3> {% load humanize %}

                <h3 class="text-white text-opacity-75 mx-auto mt-2 mb-5">{{project.hectares|intcomma}}
                    hectárea{{project.hectares|pluralize}} protegidas</h3>
                <p class="text-white">
                    {{project.description}}
                </p>
            </div>
            <!-- <img class="img-fluid" src="{{ project.head_image.url }}" alt="..." /> -->
        </div>
    </div>
</section>
<!-- Mapa -->
<section class="projects-section bg-black" id="mapa">

    <center>
        <svg height="750" width="640" id="myplot2"></svg>
        <svg height="250" width="640" id="myplot3"></svg>
    </center>
    {% load static %}
    <script type="module">

        const sjc = await d3.json("{% static 'assets/sjc.json' %}");
        const zonas = topojson.feature(sjc, sjc.objects.zonas);
        const domain_clases = ["Agricultura y Ganadería", "Bosque Maderable", "Bosque Mesófilo", "Bosque no Maderable", "Reservas y Restauración", "Selva Baja", "Urbano"];
        const color_clases = ["#d5a654", "#7B7F33", "#3c916c", "#2E4521", "#33697f", "#23544c", "#4c2354"];


        const plot_sjc = Plot.plot({
            projection: {
                type: "reflect-y",
                domain: zonas
            },
            color: {
                domain: domain_clases,
                range: color_clases
            },
            marks: [
                Plot.geo(zonas, {
                    fill: "clase",
                    title: (d) => `${d.properties.RODAL}${d.properties.clase}\n${d3.format(",.2r")(d.properties.superficie)} ha`,
                    stroke: "black",
                    tip: false,
                    strokeWidth: 1,
                    ariaLabel: "clase",
                })
            ]
        });


        const myplotsvg = document.querySelector("#myplot2");
        myplotsvg.append(plot_sjc);
        const total_ha = d3.sum(zonas.features.map((d) => d.properties.superficie))

        const plot_sjc_together = Plot.plot({
            color: {
                domain: domain_clases,
                range: color_clases
            },
            x: { label: "→ Área total (ha)" },
            y: { label: "" },
            marginLeft: 200,
            marginRight: 100,
            marks: [
                Plot.barX(
                    zonas,
                    Plot.groupY(
                        {
                            x: "sum",
                            title: (d) => `${d3.format(",.2r")(d3.sum(d))} ha`,
                            ariaLabel: "first",
                        },
                        {
                            fill: "clase",
                            y: "clase",
                            x: "superficie",
                            title: "superficie",
                            sort: { y: "x" },
                            ariaLabel: "clase",
                            tip: false,
                            stroke: "black"
                        },
                    ),
                ),
                Plot.text(
                    zonas,
                    Plot.groupY(
                        {
                            x: "sum",
                            text: (d) => `${d3.format(",.2r")(d3.sum(d))} ha (${d3.format(".0%")(d3.sum(d) / total_ha)})`
                        },
                        {
                            fill: "white",
                            y: "clase",
                            x: "superficie",
                            text: "superficie",
                            sort: { y: "x" },
                            id: "clase",
                            textanchor: "end",
                            dx: 45
                        },
                    ),
                ),
                Plot.ruleX([0]),
                Plot.axisX({ color: "white" }),
                Plot.axisY({ color: "white" })
            ]
        });

        const myplotsvg_together = document.querySelector("#myplot3");
        myplotsvg_together.append(plot_sjc_together);

        d3.select(plot_sjc)
            .selectAll("path")
            // React when the pointer hovers over the path.
            .on("pointerenter", function () {
                d3.select(plot_sjc).selectAll("path").attr("opacity", 0.5).attr("stroke", "black");
                let c = d3.select(this);
                c.attr("opacity", 1).attr("stroke", "white").raise();
                d3.select(plot_sjc_together).selectAll("rect").select(function () {
                    return d3.select(this).attr("aria-label") == c.attr("aria-label") ? null : this;
                }).attr("opacity", .5).attr("stroke", "black");
                d3.select(plot_sjc_together).selectAll("rect").select(function () {
                    return d3.select(this).attr("aria-label") == c.attr("aria-label") ? this : null;
                }).attr("opacity", 1).attr("stroke", "white");
            });
        // Reset the appearance when the pointer leaves the SVG
        d3.select(plot_sjc)
            .on("pointerleave", function () {
                d3.select(plot_sjc).selectAll("path").attr("opacity", 1).attr("stroke", "black");
                d3.select(plot_sjc_together).selectAll("rect").attr("opacity", 1).attr("stroke", "black");
            });


        d3.select(plot_sjc_together)
            .selectAll("rect")
            // React when the pointer hovers over the path.
            .on("pointerenter", function () {
                d3.select(plot_sjc_together).selectAll("rect").attr("opacity", 0.5);
                let c = d3.select(this);
                c.attr("opacity", 1).attr("stroke", "white");
                let title = c.select("title");
                d3.select(plot_sjc).selectAll("path").select(function () {
                    return d3.select(this).attr("aria-label") == c.attr("aria-label") ? null : this;
                }).attr("opacity", .5).attr("stroke", "black");
                d3.select(plot_sjc).selectAll("path").select(function () {
                    return d3.select(this).attr("aria-label") == c.attr("aria-label") ? this : null;
                }).attr("opacity", 1).attr("stroke", "white").raise();
            });
        // Reset the appearance when the pointer leaves the SVG
        d3.select(plot_sjc_together)
            .on("pointerleave", function () {
                d3.select(plot_sjc_together).selectAll("rect").attr("opacity", 1).attr("stroke", "black");
                d3.select(plot_sjc).selectAll("path").attr("opacity", 1).attr("stroke", "black");
            });

    </script>
</section>
<!--Map2-->
<section class="projects-section bg-black" id="mapa2"></section>

<center>
    <svg height="551" width="460" id="myplot_image"></svg>
    <button class="w3-btn w3-blue w3-round" onclick="getLocation()">Try It</button>
    <p id="demo"></p>
</center>
{% load static %}
<script type="module">
    d3.select("#myplot_image").append("svg:image")
        .attr("xlink:href", "{% static 'assets/sanjeronimo.svg' %}")
        .attr("width", 460)
        .attr("height", 551)
        .attr("class", "graph-svg-component");
</script>


</section>
<!-- List de Eventos -->
<section class="contact-section bg-black" id="actividades">
    <div class="container text-white px-4 px-lg-5">
        <h1 class="text-white mx-auto text-uppercase text-center">Actividades y Eventos de {{project.name}}</h1>
        <p></p><br>
        <!--<input unicorn:model="initdate" type="datetime-local" id="initdate" />
        <input unicorn:model="enddate" type="datetime-local" id="enddate" /><br>-->
        <form method="post" id="datesubmit">
            {% csrf_token %}
            {{ event_date_form }}
            <input type="submit" name="submit" value="Filter" />
        </form>

        <div class="row gx-4 gx-lg-5 card-group slider" id="slider">
            {% for mapevent in events %}
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card px-4">
                    <div class="card-body">
                        <h3 class="text-uppercase m-0  text-center"><a
                                href="{{ mapevent.get_absolute_url }}">{{mapevent.title}}</a>
                        </h3>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">{{mapevent.description}}</div>
                        <hr class="my-4 mx-auto" />
                        {% if mapevent.mapeventimage_set.first.file.url %}
                        <img class="card-img-top" src="{{ mapevent.mapeventimage_set.first.file.url }}" alt="..." />
                        {% endif %}
                        <div class="small text-black-50">{{mapevent.date|date:"M j, Y"}}</div>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
            <p></p><br>
        </div>
    </div>
</section>

{% if user.is_authenticated %}
<section class="signup-section" id="addevent">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">¡Agrega un evento a este proyecto!</h2>
                <div class="col-auto">
                    <button class="btn btn-primary" type="button"
                        onclick="location.href='{% url 'create' pk=project.id%}'">Agregar!</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
    $(function () {
        $('#datesubmit').on('submit', function (event) {
            event.preventDefault();
            const csrf = datesubmit.elements["csrfmiddlewaretoken"].value
            const formData = {
                csrfmiddlewaretoken: csrf,
                start_date_year: datesubmit.elements["start_date_year"].value,
                start_date_month: datesubmit.elements["start_date_month"].value,
                start_date_day: datesubmit.elements["start_date_day"].value,
                end_date_year: datesubmit.elements["end_date_year"].value,
                end_date_month: datesubmit.elements["end_date_month"].value,
                end_date_day: datesubmit.elements["end_date_day"].value
            };
            $.ajax({
                url: "{% url 'project-detail2' pk=project.id %}",
                type: 'POST',
                dataType: 'json',
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": csrf,
                },
                data: formData,
                success: function (response) {
                    const eventList = $("#slider");
                    eventList.empty();
                    for (var event of response.events) {
                        const rupi = event.get_image == "" ? "" : `<img class="card-img-top" src="${event.get_image}" alt="..." />`;
                        const eventHTMLElement = `
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card px-4">
                                <div class="card-body">
                                    <h3 class="text-uppercase m-0  text-center"><a href="${event.get_absolute_url}">${event.title}</a></h3>
                                    <hr class="my-4 mx-auto" />
                                    <div class="small text-black-50">${event.description}</div>
                                    <hr class="my-4 mx-auto"/>
                                    ${rupi}
                                    <div class="small text-black-50">${event.date}</div>
                                </div>
                            </div>
                            <br>
                        </div>
                        `;
                        eventList.append(eventHTMLElement);
                    };
                },
                error: function (response) {
                    console.log("AJAX response Error");
                }
            });
        });
    });
    const x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
        "<br>Longitude: " + position.coords.longitude;
}
</script>
{% endblock %}