{% extends "base_generic.html" %}
{% load i18n %}
{% block title %}
<title>Proyectos de captura de carbono</title>
{% endblock %}
{% block content %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Yaax Carbon</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">{% trans "Proyect Monitoring Dashboard"%}</h2>
                <a class="btn btn-primary" href="#about">{% trans "Learn more"%}</a>
            </div>
        </div>
    </div>
</header>
<section class="about-section" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4  text-center">{% trans "Help us save the future!"%}</h2>
                <p class="text-white-50">{% load humanize %}
                    {% blocktranslate with numprojects=num_projects numactiveprojects=num_active_projects numhectares=num_hectares|intcomma nummapevents=num_mapevents %}
                    Yaax-Carbon has developed over {{numprojects}} proyects and currently manages {{numactiveprojects}} active ones.
                    In total, we are leading conservation efforts in over {{ numhectares }} hectares.
                    <br><br>
                    This year, we have organized {{nummapevents}} activities towards conservation, teaching, workshops and research with the communities in our proyects.
                    {% endblocktranslate %}
                </p>
            </div>
        </div>{% load static %}
        <img class="img-fluid" src="{% static 'assets/ipad.png' %}" alt="..." />
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><a href="{% url 'projects' %}"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/bg-masthead.jpg' %}" alt="..." /></a></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>{% trans "Explore our projects"%}</h4>
                    <p class="text-black-50 mb-0">{% trans "This is our operations monitoring and auditing platform for our conservation proyects in Mexico"%}</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/demo-image-01.jpg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Misty</h4>
                            <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/demo-image-02.jpg' %}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Mountains</h4>
                            <p class="mb-0 text-white-50">
                                {% blocktranslate %}
                                Another example of a project with its respective description.
                                These sections work well responsively as well!
                                {% endblocktranslate %}

                                {% blocktranslate count numvisit=num_visits %}
                                You have visited this page {{ numvisit }} time.
                                {% plural %}
                                You have visited this page {{ numvisit }} times.
                                {% endblocktranslate %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}