<section class="contact-section bg-black" id="actividades">
    <div class="container px-4 px-lg-5">
        <h1 class="text-white mx-auto text-uppercase text-center">Actividades y Eventos de {{project.name}}</h1>
        <p></p><br>
        <!--<input unicorn:model="initdate" type="datetime-local" id="initdate" />
        <input unicorn:model="enddate" type="datetime-local" id="enddate" /><br>-->
        <div id="my-numeric-slider" class="form-group numeric-slider">
            <div id='my-numeric-slider_range_min' data-range_min="{{ project.mapevent_set.earliest.date|date:'c' }}"></div>
            <div id='my-numeric-slider_range_max' data-range_max="{{ project.mapevent_set.latest.date|date:'c' }}"></div>
            <span id='my-numeric-slider_cur_min'>{{ mindate|date:'c' }}</span> - 
            <span id='my-numeric-slider_cur_max'>{{ maxdate|date:'c' }}</span>
            <div class="numeric-slider-range ui-slider ui-slider-horizontal ui-slider-range"></div>
            <span class="numeric-slider-range_text text-white" id='my-numeric-slider_text'>[Lower Value] - [Upper Value]</span>
            <input unicorn:model="initdate" type='hidden' unicorn:key="slider_min" id='my-numeric-slider_min' name='slider-min' value = "{{ initdate|date:'c' }}" unicorn:partial.id="my-numeric-slider_cur_min"/>
            <input unicorn:model="enddate" type='hidden' unicorn:key="slider_max" id='my-numeric-slider_max' name='slider-max' value = "{{ enddate|date:'c' }}" unicorn:partial.id="my-numeric-slider_cur_max"/>
        </div>

        <div class="row gx-4 gx-lg-5 card-group ">
            {% for mapevent in mapevents %}
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card px-4">
                    <div class="card-body">
                        <h3 class="text-uppercase m-0  text-center"><a
                                href="{{ mapevent.get_absolute_url }}">{{mapevent.title}}</a>
                        </h3>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">{{mapevent.description}}</div>
                        <hr class="my-4 mx-auto" />
                        {% if mapevent.mapeventimage_set.first.file.url %}
                        <img class="card-img-top" src="{{ mapevent.mapeventimage_set.first.file.url }}" alt="..." />
                        {% endif %}
                        <div class="small text-black-50">{{mapevent.date}}</div>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
            <p></p><br>
        </div>
    </div>
</section>