{% extends "base_generic.html" %}
{% block title %}
<title>Hasta Luego</title>
{% endblock %}
{% block content %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h2 class="text-white text-uppercase">Logged out!</h2>
                <a class="btn btn-primary" href="{% url 'login'%}">Volver a iniciar sesión</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}
